<div mat-subheader>
  <button mat-raised-button color="primary" (click)="addClick()">Add</button>
</div>
<mat-table [dataSource]="employees.content" class="mat-elevation-z8">
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let employee">{{ employee.name }}</mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
    <mat-cell *matCellDef="let employee">{{ employee.phone }}</mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="jobTitle">
    <mat-header-cell *matHeaderCellDef>JobTitile</mat-header-cell>
    <mat-cell *matCellDef="let employee">{{ employee.jobTitle }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let employee">
      <button mat-raised-button color="primary" (click)="editClick(employee)">
        Edit
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let employee">
      <button mat-raised-button color="warn" (click)="deleteClick(employee)">
        Delete
      </button>
    </mat-cell>
  </ng-container>

</mat-table>

<mat-paginator [length]="employees.totalElements"
               [pageSize]="employees.size"
               [pageSizeOptions]="[5,10]"
               (page)="onPageChange($event)"
               >
</mat-paginator>
